.navbar-user {
	float: right;
	margin-right: 70px;
}
.panel-group{
	max-height:770px;
	overflow: auto;
	}
	
.leftMenu{
	margin:10px 40px 10px 10px;
	margin-top:5px;
	}
	
.leftMenu .panel-heading{
	font-size:14px;
	padding-left:20px;
	height:36px;
	line-height:36px;
	color:white;
	position:relative;
	cursor:pointer;
	}
	
.leftMenu .panel-heading span{
	position:absolute;
	right:10px;
	top:12px;
	}
	
.leftMenu .menu-item-left{
	padding: 2px; 
	background: transparent; 
	border:1px solid transparent;
	border-radius: 6px;
	}
	
.leftMenu .menu-item-left:hover{
	background:#C4E3F3;
	border:1px solid #1E90FF;
	}
	
.panel-parent>.panel-heading {
	color: #fff;
	background-color: #e31d1a;
	border-color: #e31d1a;
	}
	
.float-right{
	float:right;
	}
.menu-ul-li li{
	border-bottom: 1px solid #ddd;	
	font-size:12px;
}